@model BirthdayApp.Models.DavetiyeModel

@{
    ViewBag.Title = "Teşekkür Ederim";
}

<h1 style="font-family:'Trebuchet MS';font-size:x-large;font-style:italic;text-align:center;">Teşekkürler,@Model.Ad!</h1>
<body>
    <link href="~/Content/background.css" rel="stylesheet" />
</body>
<img src="~/Content/image/0046.gif" align="right">

<div class="text-center" style="font-family:'Trebuchet MS';font-size:x-large;text-align:right">
    @if (Model.KatilmaDurumu == true)
    {
        @:İyiki Doğdun,İyiki Varsın :) Doğum Günün Kutlu Olsun !
        @*@:Gelmene çok sevindim: ) Bütün Hazırlıklar tamamlandı..!*@
        @Html.Action("Katilanlar", "Home")
    }
    else
    {
        @:Gelemeyecek Olmana Çok Üzüldüm :( Bunu Bildirdiğin için  Teşekkür ederim.
    }



</div>

