body {
    background-image: url('image/ClipartKey_1289382.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: whitesmoke;
    border-image: url('image/0046.gif')
}
